@using MvcTest.Models
@model IEnumerable<User>   
       
        <div id="usersList"  >
            <table id="asideList" style="list-style:none; padding-left:10px">                
                @foreach (User user in Model)
                {
                    string id = "userlist" + user.Id;
                    <tr id="@id" style="cursor:pointer"><td style="cursor: pointer;"><img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(user.Avatar))" class="littlePortrait" /></td><td>@user.Name</td></tr>
                }
            </table>
        </div>
<script>    

    $(document).ready(function () { 
        var boldState = getCookieValue("bold");
        console.log(boldState);
        if (boldState != "Enabled") {            
            $("#disabled").css("font-weight", "bold");
            $("#enabled").css("font-weight", "unset");
        }
        else {
            $("#disabled").css("font-weight", "unset");
            $("#enabled").css("font-weight", "bold");          
        }            
        
            $('#usersList').on('mousewheel', function usersListScroll(e) {
                if (e.originalEvent.deltaY > 0) {             
                var elemsCount = document.getElementById("asideList").getElementsByTagName("tr").length;
                console.log(elemsCount);
                var searchText = document.getElementById("search").value;
                var disabledFontWeight = $("#disabled").css("font-weight");
                var enabledFontWeight = $("#enabled").css("font-weight");            
                var boldest = disabledFontWeight > enabledFontWeight ? "Disabled" : "Enabled";
                $("#asideBar").load('@Url.Action("AsideBar", "Home")', { text: searchText, bold:boldest,elemscount: elemsCount});
                }
            })     

            $("#usersList tr").removeClass('active');  
        
        $("#usersList tr").click(function () {  
            var elemsCount = document.getElementById("asideList").getElementsByTagName("tr").length;            
            var searchText = document.getElementById("search").value;
            var disabledFontWeight = $("#disabled").css("font-weight");
            var enabledFontWeight = $("#enabled").css("font-weight");
            var boldest = disabledFontWeight > enabledFontWeight ? "Disabled" : "Enabled";

            setCookie("elemscount", elemsCount);
            setCookie("searchtext", searchText);
            setCookie("bold", boldest);            

            var id = this.id.replace('userlist', '');
            $("#usersList tr").removeClass('active');
            console.log(page);
            window.location.href = "/Home/" + page + '/' + id;
            });     
                
           
});
</script>
